div#form {
    height:39%;
    width:100%;
    background-color:#404;
    color: white;
}

pre#data {
    height:100%;
    width:100%;
    border-color: #333;
    border-radius: 0;
}

html,body {
    height:100%;
    background-color:#222;
}

#container {
    display:table;
    height: 58%;
    width: 100%;
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}





/* SCROLLBAR */
/*
 *  STYLE 2
 *  https://codepen.io/devstreak/pen/dMYgeO
 */

 pre#data::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #555;
 }
 
 pre#data::-webkit-scrollbar
 {
     width: 12px;
     background-color: #555;
 }
 
 pre#data::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #cd5c5c;
 }